@model BooksManager.Models.ReadLog

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Read Log</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReadLogId" />
            <input type="hidden" asp-for="BookId" />
            <div class="form-group">
                <label asp-for="PageNumber" class="control-label"></label>
                <input asp-for="PageNumber" class="form-control" />
                <span asp-validation-for="PageNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogDate" class="control-label"></label>
                <input type="date" asp-for="LogDate" class="form-control" />
                <span asp-validation-for="LogDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="BookId" class="control-label"></label>
                    <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                    <span asp-validation-for="BookId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-danger ml-3" asp-controller="Book" asp-action="Logs" asp-route-id="@Model.BookId">Cancel</a>
            </div>
            <span class="text-danger">@Html.ValidationMessage("log-validation")</span>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
