@model IEnumerable<Book> 

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var book in Model)
    {
        <partial name="_BookCard" model="book" />
    }
</div>

<a asp-controller="Book"
   asp-action="Edit"
   class="btn btn-primary">
    Add Book
</a>
