@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<h3>To Read</h3>
<div class="row">
    @foreach (var book in Model.Where(b => b.Status == BookStatus.ToRead))
    {
        <partial name="_BookCard" model="book" />
    }
</div>
<a asp-controller="Book"
   asp-action="Edit"
   class="btn btn-primary">
    Add Book
</a>
<hr />

<h3>Currently Reading</h3>
<div class="row">
    @foreach (var book in Model.Where(b => b.Status == BookStatus.CurrentlyReading))
    {
        <partial name="_BookCard" model="book" />
    }
</div>
<a asp-controller="Book"
   asp-action="Edit"
   class="btn btn-primary">
    Add Book
</a>
<hr />

<h3>Read</h3>
<div class="row">
    @foreach (var book in Model.Where(b => b.Status == BookStatus.Read))
    {
        <partial name="_BookCard" model="book" />
    }
</div>
<a asp-controller="Book"
   asp-action="Edit"
   class="btn btn-primary">
    Add Book
</a>


